<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">

    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <article class="overflow-hidden rounded-lg shadow-lg">


        <div class="mx-auto bg-white shadow-lg rounded-lg my-32 px-4 py-4 max-w-sm ">
          <div class="mb-1 tracking-wide px-4 py-4">
            <h2 class="text-gray-800 font-semibold mt-1">The stats of the Sdtudents</h2>
            <div class="border-b -mx-8 px-8 pb-3">
              <div class="flex items-center mt-1">
                <div class=" w-1/5 text-indigo-500 tracking-tighter">
                  <span>First Student</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-7/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">51%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>Second Student</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class="w-1/5 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">17%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>third Student</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-3/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">19%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class=" w-1/5 text-indigo-500 tracking-tighter">
                  <span>Four Student</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-1/5 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">8%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>Fifth Student</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-2/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">5%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>

    </div>

    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <article class="overflow-hidden rounded-lg shadow-lg">


        <div class="mx-auto bg-white shadow-lg rounded-lg my-32 px-4 py-4 max-w-sm ">
          <div class="mb-1 tracking-wide px-4 py-4">
            <h2 class="text-gray-800 font-semibold mt-1">The stats of the Teacher</h2>
            <div class="border-b -mx-8 px-8 pb-3">
              <div class="flex items-center mt-1">
                <div class=" w-1/5 text-indigo-500 tracking-tighter">
                  <span>First Student</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-7/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">51%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>Second Teacher</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class="w-1/5 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">17%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>third Teacher</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-3/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">19%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class=" w-1/5 text-indigo-500 tracking-tighter">
                  <span>Four Teacher</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-1/5 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">8%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>Fifth Teacher</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-2/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">5%</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>

    </div>

    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <article class="overflow-hidden rounded-lg shadow-lg">

        <div class="mx-auto bg-white shadow-lg rounded-lg my-32 px-4 py-4 max-w-sm ">
          <div class="mb-1 tracking-wide px-4 py-4">
            <h2 class="text-gray-800 font-semibold mt-1">The stats of the Classes</h2>
            <div class="border-b -mx-8 px-8 pb-3">
              <div class="flex items-center mt-1">
                <div class=" w-1/5 text-indigo-500 tracking-tighter">
                  <span>First Classes</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-7/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">51%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>Second Classes</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class="w-1/5 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">17%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>third Classes</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-3/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">19%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class=" w-1/5 text-indigo-500 tracking-tighter">
                  <span>Four Classes</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-1/5 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">8%</span>
                </div>
              </div>
              <div class="flex items-center mt-1">
                <div class="w-1/5 text-indigo-500 tracking-tighter">
                  <span>Fifth Classes</span>
                </div>
                <div class="w-3/5">
                  <div class="bg-gray-300 w-full rounded-lg h-2">
                    <div class=" w-2/12 bg-indigo-600 rounded-lg h-2"></div>
                  </div>
                </div>
                <div class="w-1/5 text-gray-700 pl-3">
                  <span class="text-sm">5%</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </article>

    </div>
  </div>
