<div class="grid grid-rows-6 min-h-screen">
    <app-navbar-student></app-navbar-student>

    <div class=" row-span-5 grid grid-cols-12 py-14 space-x-2.5 justify-around mr-2 -mt-16 height">
        <div class="col-span-2 height1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-span-10 bg-white rounded overflow-hidden  shadow-lg grid grid-cols-12 ">
          
                     <div class="bg-red-500 col-span-4 ">
                          
                     </div>
                     <div class="bg-white col-span-4 "></div>
                     <div class="bg-red-500 col-span-4 "></div>
                

        </div>
    </div>
</div>