      <!------------------------- Nav ------------------------->

<app-navbar></app-navbar>
      <!------------------------- Lecture ------------------------->

    

<div class="bg-white">
    <div>
  
  
      <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative z-10 flex items-baseline justify-between pt-24 pb-6 border-b border-gray-200">
          <h1 class="text-4xl font-extrabold tracking-tight text-gray-900">Lectures</h1>
  
         
        </div>
  
        <section aria-labelledby="products-heading" class="pt-6 pb-24">
  
          <div class="grid grid-cols-2  gap-x-24 ">          
  
            <div class="text-center font-bold text-lg">
              React Course
                <iframe class ="" [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
            </div> 
            <div class="text-center font-bold text-lg">
              Angular Course
                <iframe class ="" [src]="safeSrc1" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>


  <footer class="bg-indigo-700">
    <div class=" text-white text-center pt-3">
        Team FRDG - All Rights Reserved
    </div>   
    <div class=" text-white text-center pb-3 ">
        2021
    </div>
</footer>