<div class="ml-7">



    <div>

      <div class="container ">
        <div class="row">
          <div class="col-sm-8">
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>
      </div>


      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h4 class="modal-title align-center"></h4>
              <button type="button" class="close" (click)="hideForm()" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <div class="overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-5 hover:shadow-2xl rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto">
                <a  class="w-full block h-full ">

                    <div class="bg-white w-full p-4">
                        <p class="no-underline text-indigo-500 text-2xl font-medium "  routerLink='../request'>
                          {{data.title}}

                        </p>
                        <p class="text-gray-800 text-sm font-medium no-underline mb-2" routerLink='../calander' >
                            {{data.date.slice(0,10)+'  ' +data.date.slice(11,16)}}
                        </p>

                        <div class="flex flex-wrap justify-starts items-center py-3 border-b-2 text-xs text-white font-medium">
                            <span class="m-1 px-2 py-1 rounded bg-indigo-500">
                                #calendar
                            </span>
                            <span class="m-1 px-2 py-1 rounded bg-indigo-500">
                                #productivity
                            </span>
                            <span class="m-1 px-2 py-1 rounded bg-indigo-500">
                                #meetings
                            </span>
                        </div>

                    </div>
                </a>
            </div>


            </div>
          </div>
        </div>
      </div>

    </div>




     </div>

