<div class="grid grid-rows-6 min-h-screen">
    <app-navbar-student></app-navbar-student>

    <div class=" row-span-5 grid grid-cols-12 py-14 space-x-2.5 justify-around mr-2 -mt-32 height">
        <div class="col-span-2 height1">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-span-10 bg-white rounded overflow-hidden  shadow-lg grid grid-cols-4 gap-4 grid-rows-4">
                            <!--the main card that I will loop through it -->
                         <div class=" relative">
                            <div
                            class="absolute overflow-hidden shadow-lg col-span-1 transition duration-500 ease-in-out transform hover:-translate-y-5 hover:shadow-2xl rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto">
                            <div class="bg-white w-full p-4">
                                <p class="text-indigo-500 text-2xl font-medium">
                                    name of Exercice
                                </p>
                                <p class="text-gray-800 text-sm font-medium mb-2">
                                    description of what exactly
                                </p>
                                <p class="text-gray-600 font-light text-md">
                                    created at
                                </p>
                                
                            </div>
                        </div>
                         </div>   
                      
                         
                        
                         
                                             
                                        
        </div>

    </div>
</div>


