<div class="  grid grid-row-6  min-h-screen">
  <app-student-nav-bar></app-student-nav-bar>
  <div class="row-span-1 grid-col-6  grid grid-row-2 ">
    <div class="  row-span-1">
      <app-sidebare> </app-sidebare>
      <div class="row-span-5 grid  ">
        <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">
     
      
    
          <h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl">
            Coming request
          </h1>
    
    
    
          <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    
    
            <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
              <thead>
                <tr>
                  <th data-priority="1">Name </th>
                  <th data-priority="2">Email</th>
                  <th data-priority="3">request</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                </tr>
    
    
                <tr>
                  <td>Donna Snider</td>
                  <td>Customer Support</td>
                  <td>New York</td>
                  <td>27</td>
                  <td>2011/01/25</td>
                </tr>
              </tbody>
    
            </table>
    
          </div>
          </div> 
    </div>
  </div>
  
    </div>
