<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
<div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
    <app-student-nav-bar></app-student-nav-bar>

    <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
        <thead>
            <tr>
                <th data-priority="1">Name</th>
                <th data-priority="2">Email</th>
                <th data-priority="3">Subject</th>
                <th data-priority="4">Message</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = 'let complaine of data'>
                <td>{{complaine.Name}} </td>
                <td>{{complaine.Email}}</td>
                <td>{{complaine.Subject}}</td>
                <td>{{complaine.Message}}</td>
            </tr>      
        </tbody>
        
    </table>
</div>