<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
<div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
			 
				
    <table id="example" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
        <thead>
            <tr>
                <th data-priority="1">First Name</th>
                <th data-priority="2">Last Name</th>
                <th data-priority="3">Email</th>
                <th data-priority="4">Field</th>
                <th data-priority="5">Phone</th>
                <th data-priority="6">Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger </td>
                <td> Architect</td>
                <td>Edinburgh@whatever.com</td>
                <td>DataBase</td>
                <td>20110425</td>
                <td>3 years</td>
            </tr>
         
            <tr>
                <td>Donna</td>
                <td>Customer </td>
                <td>NewYork@whatever.com</td>
                <td>React</td>
                <td>20110125</td>
                <td>1 years</td>
            </tr>

            <tr>
                <td>Donna</td>
                <td>Customer </td>
                <td>NewYork@whatever.com</td>
                <td>React</td>
                <td>20110125</td>
                <td>1 years</td>
            </tr>
        </tbody>
        
    </table>
    
    
</div>
