<nav class="bg-indigo-700">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0" (click)="navigate()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="white">
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path
              d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
          </svg>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">

            <a class=" px-3 py-2 rounded-md text-sm font-medium no-underline text-hover hover:bg-white"
              routerLink=''>Home</a>

            <a class=" hover:bg-white text-hover px-3 py-2  rounded-md text-sm font-medium no-underline"
              routerLink='../admin/contact'>Requests</a>


            <a
              class=" hover:bg-white hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline text-hover" routerLink="../student">Calendar</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>