
<nav class=" bg-indigo-700 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div  routerLink='' class="flex-shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="white">
                        <path d="M12 14l9-5-9-5-9 5 9 5z" />
                        <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                      </svg>
                </div>
               
            </div>
            </div>
    </div>

    </nav>
<div class="min-h-screen flex items-center justify-center bg-gray-50 ">
    <div class="max-w-md w-full space-y-8">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 mx-auto " fill="none" viewBox="0 0 24 24" stroke="black">
            <path d="M12 14l9-5-9-5-9 5 9 5z" />
            <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
          </svg>
                  <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Create An Account
        </h2>
       
      </div>
      <form [formGroup]="addEventForm" class="mt-8 space-y-6" action="#" method="POST" #authForm = "ngForm" (ngSubmit) = "onSignup(authForm)">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="Role" class="font-bold">Role</label>
            <select  (change)="selectChangeHandler($event)"  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
              <option  name="Teacher" value="Teacher" selected>Teacher</option>
              <option  name="Student" value="Student">Student</option>
              
            </select>
            <!-- <input id="name" name="Role" type="text" [(ngModel)]="Role" required  placeholder="Name"> -->
          </div> 
          <div class="form-group">
            <label for="TeacherName" class="font-bold">Teacher Name</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.TeacherName.errors }" formControlName="TeacherName" id="name" name="TeacherName" type="text" [(ngModel)]="TeacherName" required class="form-control appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Name">
            <div *ngIf="submitted && f.TeacherName.errors" class="invalid-feedback">
              <div *ngIf="f.TeacherName.errors.required">Teacher's name is required</div>
        </div>
          </div> 
          <div class="form-group">
            <label  for="TeacherLastName" class="font-bold">Teacher's Lastname</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.TeacherLastName.errors }" formControlName="TeacherLastName" id="name" name="TeacherLastName" type="text" [(ngModel)]="TeacherLastName" required class="form-control appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Lastname">
            <div *ngIf="submitted && f.TeacherLastName.errors" class="invalid-feedback">
              <div *ngIf="f.TeacherLastName.errors.required">Teacher's lastname is required</div>
        </div>
          </div> 

           <div>
            <label for="ImageUrl" class="font-bold">Upload Image</label>
            <!-- <input id="name" name="ImageUrl" type="text"  [(ngModel)]="ImageUrl" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="ImageUrl"> -->
          </div>

          <div class='form-group w-full md:w-full px-3 mb-6'>
            <label
                class="w-64 flex flex-col items-center px-4 pb-2 bg-white rounded-md change-color shadow-md tracking-wide uppercase border border-blue cursor-pointer  hover:text-indigo-700 hover:bg-indigo-700 text-indigo-700 ease-linear transition-all duration-150">
                <i class="fas fa-cloud-upload-alt fa-3x"></i>
                <span class="mt-2 text-base font-bold leading-normal">Upload photo</span>
                <input [ngClass]="{ 'is-invalid': submitted && f.ImageUrl.errors }" formControlName="ImageUrl" type='file' name="ImageUrl"  required [(ngModel)]="ImageUrl" class="form-control hidden" />
            </label>
            <div *ngIf="submitted && f.ImageUrl.errors" class="invalid-feedback">
              <div *ngIf="f.ImageUrl.errors.required">Image is required</div>
        </div>
        </div>

          <div class='form-group'>
            <label for="email-address" class="font-bold">Email address</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" formControlName="Email"   id="email-address" [(ngModel)]="Email" name="Email" type="email" autocomplete="email" required email class="form-control appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email address">
            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
              <div *ngIf="f.Email.errors.required">An Email address must be provided</div>
        </div>
          </div>   
          <div class='form-group'>
            <label for="Field" class="font-bold">Field</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.Field.errors }" formControlName="Field"  id="email-address" name="Field" [(ngModel)]="Field" type="text" autocomplete="email" required class="form-control  appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Field">
            <div *ngIf="submitted && f.Field.errors" class="invalid-feedback">
              <div *ngIf="f.Field.errors.required">The field is required</div>
        </div>
          </div>          
          <div class='form-group'>
            <label for="Phone" class="font-bold">Phone</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" formControlName="Phone"  id="name" name="Phone" type="text" [(ngModel)]="Phone"  required class="aform-control ppearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Phone">
            <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
              <div *ngIf="f.Phone.errors.required">The phone number is required</div>
        </div>
          </div>          
          <div class='form-group'>
            <label for="Experience" class="font-bold">Experience</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.Experience.errors }" formControlName="Experience"  id="name" name="Experience" type="text" [(ngModel)]="Experience"   required class="form-control appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Experience">
            <div *ngIf="submitted && f.Experience.errors" class="invalid-feedback">
              <div *ngIf="f.Experience.errors.required">The experience is required</div>
        </div>
          </div>
          <div class='form-group'>
            <label for="password" class="">Password</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" formControlName="Password"  id="password" name="Password" type="password" autocomplete="current-password" required minlength="8" [(ngModel)]="Password" class="form-control appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
              <div *ngIf="f.Password.errors.required">The password must be at least 8 characters long</div>
        </div>
          </div>
        </div>
  

        <div>
          <button type="submit"  class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            Sign up
          </button>
        </div>
           <div class="text-sm text-right">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
              Sign In?
            </a>
          </div>
      </form>
    </div>
  </div>

  <footer class="bg-indigo-700">
    <div class=" text-white text-center pt-4">
        Team FRDG - All Rights Reserved
    </div>   
    <div class=" text-white text-center pb-4 ">
        2021
    </div>
</footer>